h1,h2 {
font-family: cubano-sharp, sans-serif;
font-weight: 400;
font-style: normal;
color: #003908;

}

h3,p, a {
  font-family: adobe-caslon-pro, serif;
  font-weight: 400;
  font-style: normal;
  
}

p {
  color: #002500;
}

html {
  background: #fff6e3;
  padding: 0 100px 0 100px;
}

nav {
  background: #003908;
}

header {
  background-image: url("images\Paynes-Prairie-pickerelweed-blooms.jpg");
  width: 100%;
}

nav a {
 color: #d3e0e8;
 text-decoration: none;
}