img { max-width: 100%; }

body {
  margin-left: auto; 
  margin-right: auto;
  width: 90%;
  max-width: 960px;
  min-width: 320px;
}

section {
  display: flex;
  flex-wrap: wrap;
}

#ingredients {
width: 100%;
}

#instructions {
  width: 100%;
}

@media (min-width: 640px) {
  #ingredients {
    width: 50%;
    }
    #instructions {
      width: 50%;
    }
  }